# Exercises: Working with Databases in Python

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [1]:
# Import sqlite3 and pandas.
import pandas as pd
import sqlite3 as sql

## Create a Database

In [2]:
# Create a new database called exercises.db.
con = sql.Connection('books.db')

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [11]:
# Create a new table in your database.

with con:
    con.executescript("""
        BEGIN;
        CREATE TABLE favorite_books (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            title TEXT,
            author TEXT,
            description TEXT
    );
    COMMIT;
""")

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [12]:
# Add your 3 favorite books to your table.
sql = 'INSERT INTO favorite_books (title, author, description) values (?, ?, ?)'
data = [
    ('Kitchen', 'Banana Yoshimoto', 'Cohesive and introspective'),
    ('Golden Son', 'Pierce Brown', 'Shocking and gripping fiction'),
    ('The Overstory', 'Richard Powers', 'Transcendentalist modern fiction, trees')
        ]

with con:
    con.executemany(sql, data)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [13]:
# Write your SELECT query here.
with con: 
    data = con.execute("SELECT * FROM favorite_books")
    for row in data:
        print(row)

(1, 'Kitchen', 'Banana Yoshimoto', 'Cohesive and introspective')
(2, 'Golden Son', 'Pierce Brown', 'Shocking and gripping fiction')
(3, 'The Overstory', 'Richard Powers', 'Transcendentalist modern fiction, trees')

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [16]:
# Use Pandas to make a new table in your database.

import pandas as pd
import sqlite3 as sql

books_db = sql.connect('books.db')

df_fave_books = pd.read_sql_query('SELECT * FROM favorite_books;', books_db)

books_db.close()

movies_db = sql.connect('Movies.db')

df_fave_books.to_sql('favorite_books', movies_db, if_exists='replace',index=False)

df_movies = pd.read_sql_query('SELECT * FROM favorite_books;', movies_db)

print(df_movies.head())

movies_db.close()

con.close()

   id          title            author  \
0   1        Kitchen  Banana Yoshimoto
1   2     Golden Son      Pierce Brown
2   3  The Overstory    Richard Powers

                               description
0               Cohesive and introspective
1            Shocking and gripping fiction
2  Transcendentalist modern fiction, trees