# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell.

In [ ]:
#

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [2]:
import pandas as pd
import sqlite3 as sql

df = pd.read_csv(r"C:\Users\fibdi\Downloads\data-analysis-projects\databases-python-pandas\studio\tv_shows.csv")

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [7]:
con = sql.Connection('tv_shows.db')
tv_shows_db = sql.connect('tv_shows.db')
df.to_sql('shows', tv_shows_db, if_exists='replace',index=False)

5368

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [22]:
import sqlite3 as sql
import pandas as pd

df_t20shows = pd.read_sql_query("SELECT * FROM shows limit 20;", tv_shows_db)
print(df_t20shows)

    Unnamed: 0  ID                       Title  Year  Age    IMDb  \
0            0   1                Breaking Bad  2008  18+  9.4/10
1            1   2             Stranger Things  2016  16+  8.7/10
2            2   3             Attack on Titan  2013  18+  9.0/10
3            3   4            Better Call Saul  2015  18+  8.8/10
4            4   5                        Dark  2017  16+  8.8/10
5            5   6  Avatar: The Last Airbender  2005   7+  9.3/10
6            6   7              Peaky Blinders  2013  18+  8.8/10
7            7   8            The Walking Dead  2010  18+  8.2/10
8            8   9                Black Mirror  2011  18+  8.8/10
9            9  10          The Queen's Gambit  2020  18+  8.6/10
10          10  11                  Mindhunter  2017  18+  8.6/10
11          11  12                   Community  2009   7+  8.5/10
12          12  13                      Narcos  2015  18+  8.8/10
13          13  14                   Shameless  2011  18+  8.5/10
14          14  15                 Money Heist  2017  18+  8.3/10
15          15  16          Marvel's Daredevil  2015  18+  8.6/10
16          16  17                     Lucifer  2016  16+  8.1/10
17          17  18                Supernatural  2005  16+  8.4/10
18          18  19                 The Witcher  2019  18+  8.2/10
19          19  20                       Ozark  2017  18+  8.4/10

   Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  Type
0          100/100        1     0            0        0     1
1           96/100        1     0            0        0     1
2           95/100        1     1            0        0     1
3           94/100        1     0            0        0     1
4           93/100        1     0            0        0     1
5           93/100        1     0            1        0     1
6           93/100        1     0            0        0     1
7           93/100        1     0            0        0     1
8           92/100        1     0            0        0     1
9           92/100        1     0            0        0     1
10          90/100        1     0            0        0     1
11          90/100        1     1            1        0     1
12          90/100        1     0            0        0     1
13          90/100        1     1            1        0     1
14          90/100        1     0            0        0     1
15          90/100        1     0            0        0     1
16          90/100        1     0            0        0     1
17          89/100        1     0            0        0     1
18          89/100        1     0            0        0     1
19          89/100        1     0            0        0     1

Now add a table that includes an id number and the titles on your watchlist.

In [25]:

with con:
    con.executescript("""
        BEGIN;
        CREATE TABLE watchlist (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            importance_rank INTEGER,
            title TEXT
    );
    COMMIT;
""")
    sql = 'INSERT INTO watchlist (title, id, importance_rank) values (?, ?, ?)'
data = [
    ('The ', '1', '2'),
    ('The Bear', '2', '1')
        ]

with con:
    con.executemany(sql, data)

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?
2. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?
3. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?